<p>dashboard works!</p>
<div class="row">
    <span id="toggle-user-role" (click)="isAdmin=!isAdmin">
        {{isAdmin ? 'Admin':'User'}}

    </span>
    <!--<span *ngFor="let role of roles">
        <p *ngIf="roles || role=='Admin'">{{role}}</p>
    </span>-->
</div>
<div class="row" >
    <ng-container *ngFor="let tile of tiles">
        <app-tile 
        *ngIf="isAdmin || tile.title!=='Parameters'"
        class="col xs12 md4"
        [tileInfo]="tile"
        >
        
    </app-tile>
    </ng-container>
</div>
