<div class="row">
    <div class="col xs12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset>
                <legend>Student infos</legend>
                <div class="row">
                    <div class="col xs12">
                        <mat-form-field>
                            <input matInput placeholder="Student name..." formControlName="lastName">
                            <mat-error *ngIf="c['lastName'].errors && c['lastName'].touched">
                                Lastname is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <div class="col xs12">
                            <mat-form-field>
                                <input matInput placeholder="Student email..." formControlName="email">
                                <mat-error *ngIf="c['email'].errors && c['email'].touched">
                                    <span *ngIf="c['email'].hasError('required')">
                                        Email is required
                                    </span>
                                    <span *ngIf="c['email'].hasError('pattern')">
                                        Email doesn't match email pattern
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col xs12">
                        <mat-form-field>
                            <input matInput placeholder="Student phoneNumber..." formControlName="phoneNumber">
                            <mat-error *ngIf="c['phoneNumber'].errors && c['phoneNumber'].touched">
                                Lastname is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Student credentials</legend>
                <div class="row">
                    <div class="col xs12">
                        <mat-form-field>
                            <input matInput placeholder="Student login..." formControlName="login">
                            <mat-error *ngIf="c['login'].errors && c['login'].touched">
                                login is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col xs12">
                        <mat-form-field hintLabel="Minimum 8 Characters" class="">
                            <input type="password" matInput placeholder="Student password..." formControlName="password">
                            <mat-error *ngIf="c['password'].errors && c['password'].touched">
                                password is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
            
            <button mat-raised-button color="primary" [disabled]="form.invalid">Add</button>
        </form>
        {{ form.value | json }}
    </div>
</div>
